.idea
/node_modules
/client/node_modules

/public/hot
/public/storage
/storage/*.key

.env
deploy.php

/vendor
/ssh

.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
readme.md