
.selectableNone {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}


.itemHolder {
	position: relative;
	width: 98px;
	height: 98px;
	background-color: #333333;
	background-image: url( 'https://steamcommunity-a.akamaihd.net/public/images/economy/trade_itemholder.png' );
	background-repeat: no-repeat;
	background-position: center top;
	float: left;
	margin-right: 6px;
	margin-bottom: 6px;
}

.item img:not(.item_throbber) {
	width: 96px;
}

.trade_item_box .item, .market_dialog_contents .item {
	border: 1px solid #3a3a3a;
	background-color: #292929;
	width: 96px;
	height: 96px;
}

a.inventory_item_link {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	z-index: 2;
}


.trade_item_box {
	background-color: #000000;
	border: 1px solid #2c2c2d;
	padding: 6px 0 0 6px;
}


/* inventory paging */


#inventory_pagecontrols {
	text-align: center;
	line-height: 22px;
	float: right;
}

#inventory_pagecontrols .pagecontrol_element {
	float: right;
}

.pagecontrol_element.pagecounts {
	padding: 0 14px;
}

#filter_control.filtered, #inventories.filtered, .filter_tag_options.filtered {
	border: 1px solid #4d729a;
}

.inventory_loading_indicator {
	opacity: 0;
	transition: opacity 0.5s;
}