
.view_inventory_page .inventory_ctn {
	position: relative;
	width: 520px;
	height: 520px;
}

.inventory_ctn:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.view_inventory_page .inventory_ctn .inventory_page {
	float: left;
	width: 520px;
	height: 520px;
}

.view_inventory_page #inventories {
	width: 520px;
	height: 520px;
	margin-bottom: 8px;
}

.view_inventory_page {
	position: relative;
	background-color: #1f1f1f;
	padding: 11px;
	width: 884px;
	margin-left: 6px;
}

.view_inventory_page .inventory_page_left {
	width: 528px;
}

.view_inventory_page .item.activeInfo, .view_inventory_page .item:hover {
	background-position: -1px -197px;
	background-image: url( 'https://steamcommunity-a.akamaihd.net/public/images/economy/trade_itemholder.png' );
	background-repeat: no-repeat;
}

.view_inventory_page .item {
	cursor: pointer;
	position: relative;
}

@media screen and (max-width: 910px) {

	html.responsive .view_inventory_page {
		width: auto;
		margin-left: 0;
		padding: 5px 1%;
	}

	html.responsive .view_inventory_page .inventory_page_left
	{
		width: auto;
		height: auto;
	}



	html.responsive .view_inventory_page #inventories {
		width: auto;
		padding: 0;
		height: auto;
	}

	html.responsive .view_inventory_page .inventory_ctn {
		overflow: visible;
		width: auto;
		height: auto;
	}

	html.responsive .view_inventory_page .inventory_ctn .inventory_page {
		float: none;
		width: auto;
		height: auto;
		display: flex;
		flex-wrap: wrap;
		padding-top: 6px;
		padding-left: 6px;
	}

	html.responsive .itemHolder {
		max-width: 20vw;
		max-height: 20vw;
		float: none;
		flex-basis: 96px;
	}

	html.responsive .view_inventory_page .item {
		width: auto;
		height: auto;
	}

	html.responsive .item img:not(.item_throbber) {
		width: 100%;
	}
}