
html {
	height: 100%;
}

body {
	background:  #1b2838;

	text-align: left;

	color: #8F98A0;
	font-size: 14px;

	margin:0;
	padding:0;
}

body, textarea {
	font-family:Arial, Helvetica, Verdana, sans-serif;
}

a, .whiteLink {
	color: #ebebeb;
	text-decoration: none;
	cursor: pointer;
}