
html {
	height: 100%;
}

body {
	background:  #1b2838;

	text-align: left;

	color: #8F98A0;
	font-size: 14px;

	margin:0;
	padding:0;
}

body.flat_page {
	position: relative;
	min-height: 100%;
}

/* this makes the footer appear at the bottom of the window on short pages */
body.flat_page .responsive_page_frame {
	position: static;
}

body, textarea {
	font-family:Arial, Helvetica, Verdana, sans-serif;
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

a, .whiteLink {
	color: #ebebeb;
	text-decoration: none;
	cursor: pointer;
}